node_modules/
.next/
out/

# env
.env*
!.env.example

# build/cache
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local tooling
.vercel/

# OS/editor
.DS_Store
Thumbs.db
*.code-workspace
